<!DOCTYPE html>
<html>

<head>

<title>Staff Dashboard</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container mt-5">

<h2>Welcome {{ current_user.name }}</h2>

<hr>

<div class="card mb-4">

<div class="card-body">

<h4>

Assigned Treks

</h4>

<h2>

{{ total_treks }}

</h2>

</div>

</div>

<table class="table table-bordered">

<tr>

<th>ID</th>
<th>Trek</th>
<th>Location</th>
<th>Status</th>
<th>Slots</th>
<th>Action</th>
<th>Participants</th>

</tr>

{% for item in trek_data %}
{% set trek = item.trek %}

<tr>

<td>{{ trek.trek_id }}</td>

<td>{{ trek.trek_name }}</td>

<td>{{ trek.location }}</td>

<td>{{ trek.status }}</td>

<td>{{ trek.available_slots }}</td>

<td>{{ item.participant_count }}</td>

<td>

<a
href="{{ url_for('staff_trek', trek_id=trek.trek_id) }}"
class="btn btn-primary btn-sm">

    Manage

</a>

<a
href="{{ url_for('participant_list', trek_id=trek.trek_id) }}"
class="btn btn-success btn-sm">

Participants

</a>

</td>
</tr>

{% endfor %}

</table>

<a href="{{ url_for('staff_profile') }}" class="btn btn-warning">
    Update Profile
</a>

<a
href="{{ url_for('logout') }}"
class="btn btn-danger">

Logout

</a>
</div>

</body>

</html>