{% extends "base_dashboard.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block sidebar %}

<div class="list-group mt-3">

    <a href="{{ url_for('admin_dashboard') }}"
       class="list-group-item list-group-item-action active">
        Dashboard
    </a>

    <a href="{{ url_for('view_treks') }}"
       class="list-group-item list-group-item-action">
        Treks
    </a>

    <a href="{{ url_for('view_staff') }}"
       class="list-group-item list-group-item-action">
        Staff
    </a>

    <a href="{{ url_for('view_users') }}"
       class="list-group-item list-group-item-action">
        Users
    </a>

    <a href="{{ url_for('admin_bookings') }}"
       class="list-group-item list-group-item-action">
        Bookings
    </a>

    <a href="{{ url_for('admin_search') }}"
       class="list-group-item list-group-item-action">
        Search
    </a>

    <a href="{{ url_for('logout') }}"
       class="list-group-item list-group-item-action text-danger">
        Logout
    </a>

</div>

{% endblock %}


{% block content %}

<h2 class="mb-4">
    Admin Dashboard
</h2>

<div class="row g-4">

    <div class="col-md-3">
        <div class="card text-center shadow-sm h-100">
            <div class="card-body">

                <h6 class="text-muted">
                    Total Treks
                </h6>

                <h2>
                    {{ total_treks }}
                </h2>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow-sm h-100">
            <div class="card-body">

                <h6 class="text-muted">
                    Total Users
                </h6>

                <h2>
                    {{ total_users }}
                </h2>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow-sm h-100">
            <div class="card-body">

                <h6 class="text-muted">
                    Total Staff
                </h6>

                <h2>
                    {{ total_staff }}
                </h2>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow-sm h-100">
            <div class="card-body">

                <h6 class="text-muted">
                    Total Bookings
                </h6>

                <h2>
                    {{ total_bookings }}
                </h2>

            </div>
        </div>
    </div>

</div>

{% endblock %}