{% extends "base_dashboard.html" %}

{% block title %}
My Profile
{% endblock %}

{% block panel_title %}
Trekker Panel
{% endblock %}

{% block sidebar %}

<div class="list-group list-group-flush">

    <a href="{{ url_for('user_dashboard') }}"
       class="list-group-item list-group-item-action active">
        Dashboard
    </a>

    <a href="{{ url_for('user_bookings') }}"
       class="list-group-item list-group-item-action">
        My Bookings
    </a>

    <a href="{{ url_for('user_history') }}"
        class="list-group-item list-group-item-action">
        History
    </a>

    <a href="{{ url_for('user_profile') }}"
       class="list-group-item list-group-item-action">
        Profile
    </a>

    <a href="{{ url_for('logout') }}"
       class="list-group-item list-group-item-action text-danger">
        Logout
    </a>

</div>

{% endblock %}

{% block content %}

<div class="container mt-5">

<h2>Update Profile</h2>

<hr>

<form method="POST">

<div class="mb-3">

<label>Name</label>

<input
type="text"
name="name"
class="form-control"
value="{{ user.name }}"
required>

</div>

<div class="mb-3">

<label>Email</label>

<input
type="email"
name="email"
class="form-control"
value="{{ user.email }}"
required>

</div>

<button
class="btn btn-success">

Update

</button>

</form>

</div>



{% endblock %}