<!DOCTYPE html>
<html>

<head>

<title>{{ trek.trek_name }}</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container mt-5">

<h2>{{ trek.trek_name }}</h2>

<hr>

<p><b>Location:</b> {{ trek.location }}</p>

<p><b>Difficulty:</b> {{ trek.difficulty }}</p>

<p><b>Duration:</b> {{ trek.duration }} Days</p>

<p><b>Available Slots:</b> {{ trek.available_slots }}</p>

<p><b>Status:</b> {{ trek.status }}</p>

<a href="{{ url_for('user_dashboard') }}" class="btn btn-secondary"> Back </a>
<a href="{{ url_for('book_trek', trek_id=trek.trek_id) }}" class="btn btn-success"> Book Trek </a>

</div>

</body>

</html>